# 2 Identifying variables

In [1]:
import pandas as pd
df = pd.read_csv('train.csv')

### Showing the types and values

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

You can also check how many missing values there are in a column using **isnull()** and **sum()**

In [3]:
df.Fence.isnull().sum()

1179

## Describe the range of each feature

In [4]:
df.LotFrontage.max()

313.0

In [5]:
df.LotFrontage.min()

21.0

In [6]:
df.LotFrontage.describe()

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

### Unique values of a column
For categorical features, you can inspect which values occur in a column, using `unique`

In [7]:
df.MSZoning.unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [8]:
df.PavedDrive.unique()

array(['Y', 'N', 'P'], dtype=object)

We can also show the frequency of every value for a column.

In [9]:
df.PavedDrive.value_counts()

Y    1340
N      90
P      30
Name: PavedDrive, dtype: int64

### Convert values
Often, it is easier to process your data as numbers. For instance, the feature PavedDrive has a categorical label, bit of we want to use it in a regression algorithm we need to convert it to a number. In this case we convert it in the following way: N=0, P=1, Y=2 (assuming P means something like Partial).

In [10]:
paved_drive = {'N':0, 'P':1, 'Y':2} # setup a dictionary to do the conversion

def convert_paved_drive(p):
    return paved_drive[p] # return the value of p in paved_drive dict

convert_paved_drive('P') # returns 1 because P is at position 1 in the array (indexing starts at 0)

1

We can use Python's **map()** function to apply a function to every element in a collection (or more formally, an iterable). Note that we could alternatively pass the dictionary paved_drive to the map() function, since map() also accepts dictionaries.

In [11]:
df['PavedDriveN'] = df.PavedDrive.map(convert_paved_drive)

In [13]:
df.PavedDriveN[df.PavedDriveN < 2][:10]

21     0
30     0
39     0
41     1
48     0
61     0
88     0
97     1
106    0
108    0
Name: PavedDriveN, dtype: int64

#### Assignment:  convert KitchenQual to a number. In the description of the dataset it reads that the labels mean:

|Label|description|
|:---|---|
|Ex|Excellent|
|Gd|Good|
|TA|Typical/Average|
|Fa|Fair|
|Po|Poor|

In [17]:
# setup a dictionary
kitchen_to_number = {'Ex': 0, 'Gd': 1, 'TA': 2, 'Fa': 3, 'Po':4}

def convert_kitchenQual(k):
    return kitchen_to_number[k]

df['KitchenQual'] = df.KitchenQual.map(convert_kitchenQual)

print(df.KitchenQual.head())

0    1
1    2
2    1
3    1
4    1
Name: KitchenQual, dtype: int64

### Add features

We can add new features to the Dataframe by simply assigning a value to it. In this example we will compute the sum of the 1st floor space and 2nd floor space.

In [15]:
# note you need to index these with [''] because in Python variable names cannot start with a number.
df['2FlrSF'] = df['1stFlrSF'] + df['2ndFlrSF']
df['2FlrSF'][:10]

0    1710
1    1262
2    1786
3    1717
4    2198
5    1362
6    1694
7    2090
8    1774
9    1077
Name: 2FlrSF, dtype: int64

In [16]:
# alternatively, give a list of columns.
df[['1stFlrSF', '2ndFlrSF', '2FlrSF']]

      1stFlrSF  2ndFlrSF  2FlrSF
0          856       854    1710
1         1262         0    1262
2          920       866    1786
3          961       756    1717
4         1145      1053    2198
5          796       566    1362
6         1694         0    1694
7         1107       983    2090
8         1022       752    1774
9         1077         0    1077
10        1040         0    1040
11        1182      1142    2324
12         912         0     912
13        1494         0    1494
14        1253         0    1253
15         854         0     854
16        1004         0    1004
17        1296         0    1296
18        1114         0    1114
19        1339         0    1339
20        1158      1218    2376
21        1108         0    1108
22        1795         0    1795
23        1060         0    1060
24        1060         0    1060
25        1600         0    1600
26         900         0     900
27        1704         0    1704
28        1600         0    1600
29         520         0     520
...        ...       ...     ...
1430       734      1104    1838
1431       958         0     958
1432       968         0     968
1433       962       830    1792
1434      1126         0    1126
1435      1537         0    1537
1436       864         0     864
1437      1932         0    1932
1438      1236         0    1236
1439      1040       685    1725
1440      1423       748    2171
1441       848         0     848
1442      1026       981    2007
1443       952         0     952
1444      1422         0    1422
1445       913         0     913
1446      1188         0    1188
1447      1220       870    2090
1448       796       550    1346
1449       630         0     630
1450       896       896    1792
1451      1578         0    1578
1452      1072         0    1072
1453      1140         0    1140
1454      1221         0    1221
1455       953       694    1647
1456      2073         0    2073
1457      1188      1152    2340
1458      1078         0    1078
1459      1256         0    1256

[1460 rows x 3 columns]

### Code book

Write a code book. A book in which you list some collections specifics, such as the number of samples, and for every variable a description, datatype, numeric/categorical, #missing values, the value range, an example of a value. After the analysis, you can include the distribution over each variable, how the data was cleaned (missing values and outliers) and transformed. Include every operation done on the data to allow exact replication of these steps.

| variable | description | datatype | numeric/categorical | #missing | range | example value |
|--|--|--|--|--:|:-:|--|
| 1stFlrSF | First Floor square feet | int | Numeric | 0 | 334-4602 | 334 |
| 2FlrSF | Sum First Floor + Second Floor Square Feet | int | Numeric | 0 | 334-5642 | 5642 |
| PavedDriveN | State of driveway | int | numeric | 0 | 0-2 (gravel/dirt, partially paved, paved)| 2 |
| PavedDrive | State of driveway | text | Categorical | 0 | N, P, Y (gravel/dirt, partially paved, paved) | N |
| BsmtQual | Height of the basement | text | Categorical | 37 | Ex, Gd, TA, Fa, Po, NA (Excellent 100+", Good 90-99", Typical 80-89", Fair 70-79", Poor <70", No Basement | Ex |

In [21]:
df.KitchenQual.isnull().sum()

0

#### Assignment: Add KitchenQual to the Code Book

| variable | description | datatype | numeric/categorical | #missing | range | example value |
|--|--|--|--|--:|:-:|--|
| 1stFlrSF | First Floor square feet | int | Numeric | 0 | 334-4602 | 334 |
| 2FlrSF | Sum First Floor + Second Floor Square Feet | int | Numeric | 0 | 334-5642 | 5642 |
| PavedDriveN | State of driveway | int | Numeric | 0 | 0-2 (gravel/dirt, partially paved, paved)| 2 |
| PavedDrive | State of driveway | text | Categorical | 0 | N, P, Y (gravel/dirt, partially paved, paved) | N |
| BsmtQual | Height of the basement | text | Categorical | 37 | Ex, Gd, TA, Fa, Po, NA (Excellent 100+", Good 90-99", Typical 80-89", Fair 70-79", Poor <70", No Basement | Ex |
| KitchenQual | Quality of the kitchen | int | | Numeric | 0 | 1-5 (Excellent, Good, Typical/Average, Fair, Poor) | 4 |